<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
		<!-- 配置数据库信息 --> 
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql:///my_study_data_base</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="hibernate.connection.password">06220724</property>

		<!-- 配置显示sql语句-->
		<property name="hibernate.show_sql">true</property>
		<!-- 格式化输出的语句-->
		<property name="hibernate.format_sql">false</property>
		<!--配置可以根据xml配置文件生成表到数据库中
			create先删除再创建.  update不存在就创建,存在就更新,没有可更新结构,什么也不做
			create-drop:启动创建,退出时删除.  validata验证xml与表结构是否一致,不一致会拋出异常
		-->
		<property name="hbm2ddl.auto">update</property>


		<!--导入映射文件-->
		<mapping resource="User.hbm.xml"></mapping>


	
	</session-factory>
</hibernate-configuration>